---
layout: article
title: CV
aside:
  toc: true
---


    <!-- <header>
        <div class="name-wrapper">
          <div id="fullname" class="title">
            {{ site.data.resume.name }}
          </div>
          <div id="jobtitle" class="sub-title">
            {{ site.data.resume.jobtitle }}
          </div>
        </div>
        <div id="contact" class="contact">
          {% for item in site.data.resume.contact %}
          <div class="contact-item">
            {% if item.link %}
            <a href="{{ item.link }}">
            {% endif %}
            <i class="fa {{ item.icon }} aria-hidden="true></i> {{ item.text }}
            {% if item.link %}
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </header> -->

  <!-- <div class="resume-section-title">
    Education
  </div> -->
  <div class="resume-section-content">
    {% for edu in site.data.resume.education %}
    <div class="resume-block">
      <div class="resume-block-title">
        {{ edu.university }}
      </div>
      <div class="resume-block-subtitle">
        {{ edu.duration }} | {{ edu.location }}
      </div>
      <div class="resume-block-content">
        {{ edu.major }}
      </div>
    </div>
    {% endfor %}
  </div>
