.resume-section {
  display: flex;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: .2rem;
  // border-bottom: .1rem solid $secondary-color;
  hyphens: auto;
}
.resume-section-title {
  font-size: 1.6rem;
  text-align: left;
  min-width: 10rem;
}

.resume-section-flex {
  display: flex;
  flex-wrap: wrap;
}

.resume-block {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.resume-block-square {
  width: 18rem;

  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.resume-block-title {
  font-size: 1.2rem;
  margin-bottom: .4rem;
  font-weight: bold;
}

.resume-block-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: $secondary-color;
  font-style: italic;
}

.resume-block-content {
  font-size: 1rem;
  line-height: 1.5;
}

.resume-list-content {
  font-size: 1rem;
  line-height: 1.2;
}

.name-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.resume-title {
  font-size: 2.5rem;
  text-align: center;
  min-width: 10rem;
}

.resume-sub-title {
  text-align: center;
  font-size: 1.0rem;
  margin-top: 0.0rem;
}

.paper-block-title {
  font-size: 1.0rem;
  margin-bottom: .1rem;
  font-weight: bold;
}

.paper-block-subtitle {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: $secondary-color;
  font-style: italic;
}

